/* Color pallete
#7a306c
#8e8dbe
#a9e4ef
#81f495
#96f550 */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
	font-family: "Lexend Peta", sans-serif;
}

body {
	background-color:#a9e4ef;
}

header {
	display: flex;

}

.tabuleiro {
	margin: auto;
	display: flex;
	width: 240px;
	flex-wrap: wrap;
	justify-content: center;
}

.row-a,
.row-b,
.row-c {
	display: flex;
	width: 80px;
	height: 80px;
	border: 2px solid #7a306c;
	justify-content: center;

	align-items: center;

}
