/* Color pallete
#7a306c
#8e8dbe
#a9e4ef
#81f495
#96f550 */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: 36px "Lexend Peta", sans-serif;
	color: #7a306c;
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 5%;
	position: fixed;
	z-index: 1;
}

#mostrador {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#x div {
	height: 0px;
	width: 108px;
	border: 6px solid #8e8dbe;
}

#x-slash-1 {
	transform: translate(0, 6px) rotate(-45deg);
}

#x-slash-2 {
	transform: translate(0, -6px) rotate(45deg);
}

#o {
	height: 86px;
	width: 86px;
	border: 12px solid #8e8dbe;
	border-radius: 50%;
}

.tabuleiro-background {
	background-color: #a9e4ef;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.tabuleiro {
	display: flex;
	width: 360px;
	flex-wrap: wrap;
}

.row-a,
.row-b,
.row-c {
	display: flex;
	width: 120px;
	height: 120px;
	border: 6px solid #7a306c;
	justify-content: center;
	align-items: center;
}

.row-a {
	border-top: 0;
}

.column-3 {
	border-right: 0;
}

.row-c {
	border-bottom: 0;
}

.column-1 {
	border-left: 0;
}
